.auth-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page__content {
    width: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.auth-page__title {
    margin: 0 auto;
}

.auth-page__form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
}

.auth-page_button-section {
    display: flex;
    align-items: center;
}

.button-section_button {
    padding: 10px 20px;
    margin: 0 15px 0 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.button-section_button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.button-section_description {
    display: flex;
}

.button-section_description-link {
    margin-left: 5px;
}